@page "/"

<PageTitle>DnD Creator</PageTitle>

<h1>Welcome to the DnD character creator</h1>

<h2>Select your class</h2>


<button>Barbarian</button>

<button>Bard</button>

<button>Cleric</button>

<button>Druid</button>

<button>Fighter</button>

<button>Monk</button>

<button>Paladin</button>

<button>Rogue</button>

<button>Sorcerer</button>

<button>Warlock</button>

<button>Wizard</button>



@using DnDCreator.Data
@code {
	CharCreatorData data = CharCreatorData.Instance;

}